<footer class="blog-footer">
  <nav class="nav nav-footer justify-content-center">
    <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
      <i class="fa footericon fa-rss-square fa-2x"></i>
    </a>
{% for social_media in site.data.social_media %}
    <a class="nav-link" href="{{ social_media.url }}" target="_blank">
{% if social_media.font_awesome %}
      <i class="fab footericon {{ social_media.font_awesome }} fa-2x"></i>
{% elsif social_media.academicons %}
      <i class="ai footericon {{ social_media.academicons }} ai-2x"></i>
{% elsif social_media.mydocpro%}
<i>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" height="2em" width="2em" class="mydocpro-svg icon-2x">
    <g class="mydocpro" fill="grey">
      <path d="M 17.076172 10.001953 A 7.0729108 7.0729108 0 0 0 10.001953 17.074219 A 7.0729108 7.0729108 0 0 0 17.076172 24.148438 A 7.0729108 7.0729108 0 0 0 24.148438 17.074219 A 7.0729108 7.0729108 0 0 0 17.076172 10.001953 z M 17.076172 31.953125 A 7.0729108 7.0729108 0 0 0 10.001953 39.025391 A 7.0729108 7.0729108 0 0 0 17.076172 46.099609 A 7.0729108 7.0729108 0 0 0 24.148438 39.025391 A 7.0729108 7.0729108 0 0 0 17.076172 31.953125 z M 39.027344 31.953125 A 7.0729108 7.0729108 0 0 0 31.953125 39.025391 A 7.0729108 7.0729108 0 0 0 39.027344 46.099609 A 7.0729108 7.0729108 0 0 0 46.099609 39.025391 A 7.0729108 7.0729108 0 0 0 39.027344 31.953125 z M 82.927734 31.953125 A 7.0729108 7.0729108 0 0 0 75.855469 39.025391 A 7.0729108 7.0729108 0 0 0 82.927734 46.099609 A 7.0729108 7.0729108 0 0 0 90 39.025391 A 7.0729108 7.0729108 0 0 0 82.927734 31.953125 z M 17.076172 53.904297 A 7.0729108 7.0729108 0 0 0 10.001953 60.978516 A 7.0729108 7.0729108 0 0 0 17.076172 68.050781 A 7.0729108 7.0729108 0 0 0 24.148438 60.978516 A 7.0729108 7.0729108 0 0 0 17.076172 53.904297 z M 39.027344 53.904297 A 7.0729108 7.0729108 0 0 0 31.953125 60.978516 A 7.0729108 7.0729108 0 0 0 39.027344 68.050781 A 7.0729108 7.0729108 0 0 0 46.099609 60.978516 A 7.0729108 7.0729108 0 0 0 39.027344 53.904297 z M 60.978516 53.904297 A 7.0729108 7.0729108 0 0 0 53.90625 60.978516 A 7.0729108 7.0729108 0 0 0 60.978516 68.050781 A 7.0729108 7.0729108 0 0 0 68.050781 60.978516 A 7.0729108 7.0729108 0 0 0 60.978516 53.904297 z M 82.927734 53.904297 A 7.0729108 7.0729108 0 0 0 75.855469 60.978516 A 7.0729108 7.0729108 0 0 0 82.927734 68.050781 A 7.0729108 7.0729108 0 0 0 90 60.978516 A 7.0729108 7.0729108 0 0 0 82.927734 53.904297 z M 39.027344 75.855469 A 7.0729108 7.0729108 0 0 0 31.953125 82.929688 A 7.0729108 7.0729108 0 0 0 39.027344 90.001953 A 7.0729108 7.0729108 0 0 0 46.099609 82.929688 A 7.0729108 7.0729108 0 0 0 39.027344 75.855469 z"/>
      </g>
    </svg>
  </i>
{% endif %}
    </a>
{% endfor %}
  </nav>
  <small>
    Under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><i class="fab fa-creative-commons fa-1x"></i></a> and powered by <a href="https://jekyllrb.com/">Jekyll</a>
  </small>
</footer>
