.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

body {
  padding-top: 1.25rem;
}

.card-columns.only-one-column {
  column-count: 1;
}

.card-columns.two-columns {
  column-count: 2;
}

blockquote {
  background: #f9f9f9;
  border-left: 0.8em solid #ccc;
  padding: 0.5em 0.8em;
}

blockquote:before {
  color: #ccc;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.img-post {
  @extend .rounded;
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
}

.container {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media all and (max-width: 550px) {
  .flex-container {flex-flow:column wrap;}
}

.logo {
  height: 2.5em;
  width: 2.5em;
}

.navbar {
  margin-bottom: 1.25rem;
}

.nav-footer {
  display: flex;
  flex-flow: row wrap;
}

.footericon {
  color: gray;
  transition: transform 0.3s ease;
}

.footericon:hover {
  transform: scale(1.5);
}

.icon-2x {
  height: 2em;
  width: 2em;
}

.mydocpro-svg {
  color: gray;
  transition: transform 0.3s ease;
}

.mydocpro-svg:hover {
  transform: scale(1.5);
}

.nav-footer .ai-google-scholar:hover {color: #4885ED;}
.nav-footer .ai-orcid:hover {color: #A6CE39;}
.nav-footer .fa-bitbucket:hover {color: #205081;}
.nav-footer .fa-github:hover {color: #000000;}
.nav-footer .fa-gitlab:hover {color: #FCA326;}
.nav-footer .fa-instagram:hover {color: #000000;}
.nav-footer .fa-keybase:hover {color: #3DCC8E;}
.nav-footer .fa-linkedin-in:hover {color: #007BB6;}
.nav-footer .fa-mastodon:hover {color: #3088D4;}
.nav-footer .fa-reddit-alien:hover {color: #FF4500;}
.nav-footer .fa-researchgate:hover {color: #00D0B0;}
.nav-footer .fa-rss-square:hover {color: #FF6600;}
.nav-footer .fa-stack-exchange:hover {color: #4CA2DA;}
.nav-footer .fa-twitter:hover {color: #4099FF;}
.nav-footer .fa-viadeo:hover {color: #F07355;}
.nav-footer .mydocpro-svg:hover .mydocpro {fill: #000000;}

.author-avatar {
  float: left;
  margin-right: 1em;
}
